html, body {
    margin: 0%;
    background-image: linear-gradient(rgb(72, 72, 72), rgb(85, 85, 85));
    overflow: auto;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

span.topbar {
    display: flex;
    width: 100%;
    height: 10vh;
    margin: 0%;
    margin-top: 1%;
}

div.topbar {
    width: 100%;
    background-color: rgb(91, 1, 1);
    height: 100%;
    border-radius: 15px 0px 0px 15px;
}

input#home-button {
    height: 100%;
    aspect-ratio: 1;
    margin-right: 1%;
    margin-left: 1%;
}

@keyframes jiggle {
    0%, 100% {rotate: 0deg; height: 100%}
    25%  {rotate: -30deg; height: 110%}
}

input#home-button:hover {
    animation-name: jiggle;
    animation-duration: 0.75s;
}

button.topbar {
    height: 100%;
    aspect-ratio: 1;
    background-color: inherit;
    border: 0px;
    font-size: 170%;
    transition: 0.3s;
    padding: 0%;
    color: white;
}

button.topbar#about {
    border-radius: 15px 0px 0px 15px;
}

button:hover {
    background-color: rgb(155, 1, 1);
}

.about {
    background-color: rgb(98, 98, 98);
    border-radius: 15px;
    width: 96%;
    padding: 1%;
    margin: 1%;
}

.input-label {
    font-size: 250%;
}

.input-box {
    font-size: xx-large;
}

.input-button {
    width: 10%;
    aspect-ratio: 3;
    background-color: rgb(91, 1, 1);
    font-size: 250%;
    transition: 0.3s;
    padding: 0%;
    color: white;
    border-radius: 15px;
    border-width: 0px;
}

@keyframes submit {
    0%, 100% {transform: translateY(0px);}
    50% {transform: translateY(4px);}
}

.input-button:active {
    animation: submit;
    animation-duration: 0.3s;
}

.input-div {
    width: 100%;
}